/* projects.module.css */

.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
  width: 80%;
  padding: 0 5%;
  box-sizing: border-box;
  /*background-color: aqua;*/
}

.textContainer {
  text-align: right;
  /*background-color: red;*/
}

.mainText {
  font-size: 2em;
}

.subText {
  font-size: 1em;
}

.imageContainer {
  margin-top: 20px;
}
  